## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

## NuGet
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

## IDE
.vs/
.vscode/
.idea/
*.swp
*~

## Local .NET SDK
.dotnet/

## OS
Thumbs.db
Desktop.ini
.DS_Store

## Build
publish/
out/
